body{
font-family:Arial;
padding:30px;
}

input{
display:block;
margin-bottom:5px;
padding:6px;
width:250px;
}

.error{
color:red;
font-size:13px;
}

#success{
margin-top:20px;
font-size:20px;
color:green;
}